@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
</div>

<div class="mainSelectAccount">
    <h1>Welcome!</h1><br />
    <p>Best bank in the world!!</p>
    @*<h2>Select Account Type:</h2>
        <form>
            <select name="accounts" id="accounts">
                <option value="all">All</option>
                <option value="chequing">Chequing</option>
                <option value="saving">Saving</option>
            </select><br /><br />
            <input type="submit" value="Submit" />
        </form>*@
</div>