@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="mainSelectAccount">
    <h1>Welcome!</h1><br />
    <h2>Select Account Type:</h2>
    <form>
        <select name="accounts" id="accounts">
            <option value="all">All</option>
            <option value="chequing">Chequing</option>
            <option value="saving">Saving</option>
        </select><br /><br />
        <input type="submit" value="Submit" />
    </form>
</div>